* {
    margin: 0;
}

body {
    background-color: #252525;
    color: #ececec;
    font-family: Arial, Helvetica, sans-serif;
}

table {
    margin: 30px 20%;
    border-collapse: collapse;
    width: 50%;
}

table,
td,
th {
    border: 2px solid #fff;
    padding: 10px;
}